.botonNumero
{
	width: 11vw;
	height: 4vw;
	font-size: 2vw;
	margin: 1vh 0;
	border-radius: 1rem;
}
.contentNum
{
	background: linear-gradient(90deg,#d5ae, #5677fd);
    display: grid;
    justify-content: space-around;
    grid-gap: 1vw;
    grid-template-columns: repeat(4, 0);
    width: 100%;
    justify-items: center;
}
.inputNume
{
	width: 100%;
	font-size: 2vw;
	padding: 1vw;
	text-align: right;
}
.Calculadora
{
	background-color: #434;
	width: 50%;
	height: max-content;
}