img
{
	width: 22vw;
	height: 22vw;
	margin: 1vw;
	border-radius: 2vw;
	position: relative;
}
.imagen0
{
	display: none;
}
.divImag
{
	display: flex;
	align-items: center;
	justify-content: center;
	width: max-content;
	height: max-content;
}
.moverDerecha
{
	filter: blur(2vw);
	transform: translateX(3vw);
	filter: opacity(0);
	transition: filter 300ms 400ms, transform 700ms;
}
.moverIzquierda
{
	filter: blur(2vw);
	transform: translateX(-3vw);
	filter: opacity(0);
	transition: filter 300ms 400ms, transform 700ms;
}
.divCenter
{
	display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50%;
    width: 50%;
}