.contenedor
{
	border: 0.5vh #93d solid;
	background-color: #000;
	height: max-content;
	width: max-content;
	display: flex;
	align-items: center;
	padding: 1vh 2vh;
}
.etiquetas
{
	display: flex;
	width: max-content;
	flex-direction: column;
}
.etiquetas > div
{
	display: flex;
	flex-direction: row;
	align-items: baseline;
}
.etiquetas > div > p
{
	padding: 0 0.8vw;
	font-weight: 450;
}
.iconoCanal
{
	outline: 3px solid #fff;
	width: 3.7vw;
	height: 3.7vw;
	margin: 0;
	border-radius: 50%;
}
.contador
{
	font-size: 95%;
	color: #999;
	font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
}
.nombre
{
	font-size: 115%;
	color: #fff;
	font-family: Segoe, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
}
.SUSCRIBIRSE, .SUSCRITO
{
	font-size: 95%;
	font-family: Tahoma, Geneva, Verdana, sans-serif;
}
.SUSCRITO
{
	color: #888;
}
.SUSCRIBIRSE
{
	color: #f11;
}
.Campana
{
	color: #fff;
	font-size: 125%;
}
.switchSubs
{
	margin: 2vw;
	padding: 1vh;
}
