*{margin: 0px; padding: 0px;}
.header, .headerMenu
{
    background-color: #4cF;
    font-family: 'Book Antiqua', Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, fantasy;
    font-size: clamp(0.9rem, 2.2vw, 4rem);
    color: #fff;
    width: 100%;
    display: inline-flex;
    border-bottom: solid 0.9vh #000;
}
.headerMenu
{
    margin: 0 0 0 -0.1vw;
}
.mitad, .mitad2
{
    width: clamp(200px, 50vw, 700px);
    margin: 2rem;
}
.mitad2
{
    text-align: right;
}
.menu
{
    background-color: #5cF;
    position: absolute;
    width: 30%;
    height: max-content;
    right: 0px;
    border: solid 0.9vh #000;
    border-top: solid 0px #000;
}
.contentMenu
{
    padding: 0.5rem 0.7vw;
}
.contentMainArea
{
    background-color: #fff;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
li
{
    background-color: #fff;
    margin: 1vw;
    padding: clamp(5px, 0.6vw,30px);
    list-style: none;
    color: #000;
    border: solid 0.8vh #000;
    font-size: clamp(3px, 11vw,25px);
    transition: all 150ms linear;
} 
li:hover
{
    box-shadow: 0vw 0vw 0.5vw #000;
    background-color: #abf;
    margin: 1vw 0.5vw;
    color: #fff;
    transition: all 150ms linear;
}
@media (max-width: 1080px)
{
    .menu
    {
        width: 50%;
        padding: 0;
    }
    .mitad, .mitad2
    {
        width:  50vw;
        white-space: nowrap;
        margin: 1rem;
    }
    li
    {
        font-size: 3.4vw;
        border: solid 0.4vh #000;
    }
    .header, .headerMenu
    {
        border-bottom: solid 0.35vh #000;
    }
    .menu
    {
        border: solid 0.6vh #000;
        border-top: solid 0px #000;
    }
}
